<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Ninja</title>
</head>
<body>
    <h1>New Ninja</h1>
    <form action="/create_ninja" method ="post">
        <!-- we only need to input the first_name, last_name, and age.  We have set defaults for ID, created_at, and updated_at -->
        <label>First Name</label>
        <input type="text" name="first_name">
        <label>Last Name</label>
        <input type="text" name="last_name">
        <label>Age</label>
        <input type="text" name="age">
        <!-- We are creating a drop down selection to choose which Dojo the ninja will join -->
        <!-- We need to create a for loop in our select tag to iterate though all of our dojos -->
        <select name="dojo_id">
            {% for one_dojo in all_the_dojos %}
            <!-- Note that we are passing the dojo id into the value -->
        <option value="{{one_dojo.id}}">{{one_dojo.dojo_name}}</option>

        {% endfor %}
        </select>
        <input type="submit" value="Create Ninja">
    </form>
    <a href="/">Home</a>
</body>
</html>